# Creaci√≥ del dataset dels vols

Importem les llibreries necessaries

In [1]:
import pandas as pd
import numpy as np
import random
import datetime
import math
import time

Importem el dataset amb dades dels aeroports

In [2]:
data = pd.read_excel('world_capitals.xlsx', engine='openpyxl')

Analitzem les dades d'aquest dataset

In [3]:
print(data)

             CountryName   CapitalName  CapitalLatitude  CapitalLongitude  \
0              Argentina  Buenos Aires       -34.583333        -58.666667
1              Australia      Canberra       -35.266667        149.133333
2                Austria        Vienna        48.200000         16.366667
3                Belgium      Brussels        50.833333          4.333333
4                 Brazil      Brasilia       -15.783333        -47.916667
5                 Canada        Ottawa        45.416667        -75.700000
6                  Chile      Santiago       -33.450000        -70.666667
7                  China       Beijing        39.916667        116.383333
8               Colombia        Bogota         4.600000        -74.083333
9                Croatia        Zagreb        45.800000         16.000000
10                  Cuba        Havana        23.116667        -82.350000
11        Czech Republic        Prague        50.083333         14.466667
12               Denmark    Copenhagen        55.666667         12.583333
13                 Egypt         Cairo        30.050000         31.250000
14               Finland      Helsinki        60.166667         24.933333
15                France         Paris        48.866667          2.333333
16               Germany        Berlin        52.516667         13.400000
17                Greece        Athens        37.983333         23.733333
18               Hungary      Budapest        47.500000         19.083333
19                 Italy          Rome        41.900000         12.483333
20                 Japan         Tokyo        35.683333        139.750000
21           South Korea         Seoul        37.550000        126.983333
22              Malaysia  Kuala Lumpur         3.166667        101.700000
23                Mexico   Mexico City        19.433333        -99.133333
24               Morocco         Rabat        34.016667         -6.816667
25           Netherlands     Amsterdam        52.350000          4.916667
26           New Zealand    Wellington       -41.300000        174.783333
27                Norway          Oslo        59.916667         10.750000
28                Panama   Panama City         8.966667        -79.533333
29              Paraguay      Asuncion       -25.266667        -57.666667
30           Philippines        Manila        14.600000        120.966667
31                Poland        Warsaw        52.250000         21.000000
32              Portugal        Lisbon        38.716667         -9.133333
33           Puerto Rico      San Juan        18.466667        -66.116667
34                 Qatar          Doha        25.283333         51.533333
35               Romania     Bucharest        44.433333         26.100000
36                Russia        Moscow        55.750000         37.600000
37          Saudi Arabia        Riyadh        24.650000         46.700000
38          South Africa      Pretoria       -25.700000         28.216667
39                 Spain        Madrid        40.400000         -3.683333
40                 Spain     Barcelona        41.297000          2.078000
41                Sweden     Stockholm        59.333333         18.050000
42           Switzerland          Bern        46.916667          7.466667
43                Turkey        Ankara        39.933333         32.866667
44               Ukraine          Kyiv        50.433333         30.516667
45  United Arab Emirates     Abu Dhabi        24.466667         54.366667
46        United Kingdom        London        51.500000         -0.083333
47         United States    Washington        38.883333        -77.000000
48               Uruguay    Montevideo       -34.850000        -56.166667
49             Venezuela       Caracas        10.483333        -66.866667

    CapitalLatitude Radians  CapitalLongitude Radians CountryCode  \
0                 -0.603593                 -1.023927          AR
1                 -0.615519                  2.602868          AU
2                  0.841249                  0.285652          AT
3                  0.887209                  0.075631          BE
4                 -0.275471                 -0.836304          BR
5                  0.792670                 -1.321214          CA
6                 -0.583813                 -1.233366          CL
7                  0.696677                  2.031272          CN
8                  0.080285                 -1.292998          CO
9                  0.799361                  0.279253          HR
10                 0.403462                 -1.437279          CU
11                 0.874119                  0.252491          CZ
12                 0.971567                  0.219621          DK
13                 0.524471                  0.545415          EG
14                 1.050106                  0.435169          FI
15                 0.852884                  0.040724          FR
16                 0.916589                  0.233874          DE
17                 0.662934                  0.414225          GR
18                 0.829031                  0.333067          HU
19                 0.731293                  0.217875          IT
20                 0.622792                  2.439098          JP
21                 0.655371                  2.216277          KR
22                 0.055269                  1.775000          MY
23                 0.339176                 -1.730203          MX
24                 0.593703                 -0.118973          MA
25                 0.913680                  0.085812          NL
26                -0.720821                  3.050545          NZ
27                 1.045743                  0.187623          NO
28                 0.156498                 -1.388119          PA
29                -0.440987                 -1.006473          PY
30                 0.254818                  2.111267          PH
31                 0.911935                  0.366519          PL
32                 0.675733                 -0.159407          PT
33                 0.322304                 -1.153954          PR
34                 0.441277                  0.899426          QA
35                 0.775508                  0.455531          RO
36                 0.973021                  0.656244          RU
37                 0.430224                  0.815069          SA
38                -0.448550                  0.492474          ZA
39                 0.705113                 -0.064286          ES
40                 0.720769                  0.036268          ES
41                 1.035562                  0.315032          SE
42                 0.818850                  0.130318          CH
43                 0.696968                  0.573632          TR
44                 0.880228                  0.532616          UA
45                 0.427024                  0.948877          AE
46                 0.898845                 -0.001454          GB
47                 0.678642                 -1.343904          US
48                -0.608247                 -0.980293          UY
49                 0.182969                 -1.167043          VE

      ContinentName
0     South America
1         Australia
2            Europe
3            Europe
4     South America
5   Central America
6     South America
7              Asia
8     South America
9            Europe
10    North America
11           Europe
12           Europe
13           Africa
14           Europe
15           Europe
16           Europe
17           Europe
18           Europe
19           Europe
20             Asia
21             Asia
22             Asia
23  Central America
24           Africa
25           Europe
26        Australia
27           Europe
28  Central America
29    South America
30             Asia
31           Europe
32           Europe
33    North America
34             Asia
35           Europe
36           Europe
37             Asia
38           Africa
39           Europe
40           Europe
41           Europe
42           Europe
43           Europe
44           Europe
45             Asia
46           Europe
47  Central America
48    South America
49    South America

In [4]:
print(data.columns)

Index(['CountryName', 'CapitalName', 'CapitalLatitude', 'CapitalLongitude',
       'CapitalLatitude Radians', 'CapitalLongitude Radians', 'CountryCode',
       'ContinentName'],
      dtype='object')

-----------------------------

Realitzem totes les operacions necessaries per tal d'obtenir les dades del nou dataset

In [5]:
#SIZE OF THE DATASET
n=100000

flights = pd.DataFrame()

airspeed = 800
airline_list = ["Delta Air Lines","American Airlines Group","United Airlines Holdings","Lufthansa Group","Air France‚ÄìKLM","Southwest Airlines","Turkish Airlines","China Eastern Airlines","IAG"]

t1=time.time()
for i in range(n):
    #Check that the distance between Origin and Destination is realistic
    distance = 0
    while not (200 < distance < 10000):
        origin = random.randint(0,len(data)-1)
        destination = random.randint(0,len(data)-1)
        
        #Compute distance
        temp1 = data["CapitalLatitude Radians"][destination] - data["CapitalLatitude Radians"][origin]
        temp2 = data["CapitalLongitude Radians"][destination] - data["CapitalLongitude Radians"][origin]
        temp3 = math.sin(temp1/2)**2 + math.cos(data["CapitalLatitude Radians"][origin])*math.cos(data["CapitalLatitude Radians"][destination])*math.sin(temp2/2)**2
        temp4 = 2*math.asin(math.sqrt(temp3))
        distance = round(temp4*6371,2)
    
    #Get number of stops with probablity
    if 0 < distance <= 2000:
        stops = 0
    elif 2000 < distance <= 5000:
        stops = np.random.choice(np.arange(0, 3), p=[0.6, 0.3, 0.1])
    else:
        stops = np.random.choice(np.arange(0, 3), p=[0.1, 0.5, 0.4])
    
    #Get class with probability
    flight_class = random.choices(["Economy","Business"], weights=(65, 35))[0]
    
    #Create random departure time
    dep_hour = str(random.randint(0,23))
    if len(dep_hour)==1:
        dep_hour = "0"+dep_hour
    dep_min = str(random.randint(0,5))+ str(random.choice(["0","5"]))
    dep_time = dep_hour+":"+dep_min    
    
    #Compute flight time
    f_time = round(distance/airspeed+0.5+2*stops,2) # +30 min of takeoff, +2 hours per stop
    hours = int(f_time)
    minutes = (f_time*60) % 60
    flight_time = "%02d:%02d" % (hours, minutes)    
    
    #Compute "Arr_time" based on "Dep_time" and flight time
    timeList = [dep_time, flight_time]
    mysum = datetime.timedelta()
    for t in timeList:
        (h, m) = t.split(':')
        mysum += datetime.timedelta(hours=int(h), minutes=int(m))

    if mysum.days>0:
        mysum -= datetime.timedelta(days=1)
    
    time = str(mysum)
    if len(str(mysum))==7:
        time = "0"+time
    
    #Create random date
    d1 = datetime.datetime.strptime('1/1/2023', '%d/%m/%Y')
    d2 = datetime.datetime.strptime('31/03/2023', '%d/%m/%Y')
    
    delta = d2 - d1
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = random.randrange(int_delta)
    res_date = d1 + datetime.timedelta(seconds=random_second)
    date = str(res_date)[8:10]+"-"+str(res_date)[5:7]+"-"+str(res_date)[0:4]

    #Compute "Price" depending on "Class"
    if flight_class=="Economy":
        price = round(f_time*50*random.uniform(1,1.5),2)
    else:
        price = round(f_time*50*random.uniform(2.2,3.2),2)
    
    #Create outliers (lower price than normal every 100 flights)
    if i%100 == 0:
        price = round(price*random.uniform(0.5,0.8),2)
    
    #Add new data to flights dataset
    flights.at[i,"Flight ID"] = i
    flights.at[i,"Date"] = date
    flights.at[i,"Airline"] = random.choice(airline_list)
    flights.at[i,"Dep_time"] = dep_time
    flights.at[i,"Time_taken"] = flight_time
    flights.at[i,"Arr_time"] = time[:-3]
    flights.at[i,"Stops"] = stops
    flights.at[i,"Origin City"] = data["CapitalName"][origin]
    flights.at[i,"Origin Latitude Radians"] = data["CapitalLatitude Radians"][origin]
    flights.at[i,"Origin Longitude Radians"] = data["CapitalLongitude Radians"][origin]
    flights.at[i,"Destination City"] = data["CapitalName"][destination]
    flights.at[i,"Destination Latitude Radians"] = data["CapitalLatitude Radians"][destination]
    flights.at[i,"Destination Longitude Radians"] = data["CapitalLongitude Radians"][destination]
    flights.at[i,"Price"] = price
    flights.at[i,"Class"] = flight_class
    
    if i%10000==0:
        print("Iterations:",i)
        if i%50000==0:
            t2=time.time()
            print("Temps d'execuci√≥ de les √∫ltimes 50k iteracions:",t2-t1)
            t1=time.time()

print(flights)

Iterations: 0
Iterations: 10000
Iterations: 20000
Iterations: 30000
Iterations: 40000
Iterations: 50000
Iterations: 60000
Iterations: 70000
Iterations: 80000
Iterations: 90000
Iterations: 100000
Iterations: 110000
Iterations: 120000
Iterations: 130000
Iterations: 140000
Iterations: 150000
Iterations: 160000
Iterations: 170000
Iterations: 180000
Iterations: 190000
Iterations: 200000
Iterations: 210000
Iterations: 220000
Iterations: 230000
Iterations: 240000
Iterations: 250000
Iterations: 260000
Iterations: 270000
Iterations: 280000
Iterations: 290000
Iterations: 300000
Iterations: 310000
Iterations: 320000
Iterations: 330000
Iterations: 340000
Iterations: 350000
Iterations: 360000
Iterations: 370000
Iterations: 380000
Iterations: 390000
Iterations: 400000
Iterations: 410000
Iterations: 420000
Iterations: 430000
Iterations: 440000
Iterations: 450000
Iterations: 460000
Iterations: 470000
Iterations: 480000
Iterations: 490000
        Flight ID        Date                   Airline Dep_time Time_taken  \
0             0.0  28-02-2023   American Airlines Group    14:00      05:07
1             1.0  08-03-2023            Air France‚ÄìKLM    08:45      15:07
2             2.0  06-03-2023        Southwest Airlines    01:00      01:07
3             3.0  20-03-2023           Delta Air Lines    04:10      01:21
4             4.0  27-01-2023   American Airlines Group    22:55      03:37
...           ...         ...                       ...      ...        ...
499995   499995.0  19-02-2023  United Airlines Holdings    12:30      02:30
499996   499996.0  20-02-2023           Delta Air Lines    05:40      12:57
499997   499997.0  14-02-2023    China Eastern Airlines    16:10      02:07
499998   499998.0  07-02-2023          Turkish Airlines    05:45      13:18
499999   499999.0  18-03-2023                       IAG    11:15      10:59

       Arr_time  Stops   Origin City  Origin Latitude Radians  \
0         19:07    0.0         Rabat                 0.593703
1         23:52    2.0   Panama City                 0.156498
2         02:07    0.0        Lisbon                 0.675733
3         05:31    0.0      Budapest                 0.829031
4         02:32    0.0    Washington                 0.678642
...         ...    ...           ...                      ...
499995    15:00    0.0        Havana                 0.403462
499996    18:37    0.0  Buenos Aires                -0.603593
499997    18:17    0.0      Helsinki                 1.050106
499998    19:03    1.0       Caracas                 0.182969
499999    22:14    1.0      Brasilia                -0.275471

        Origin Longitude Radians Destination City  \
0                      -0.118973         Helsinki
1                      -1.388119           London
2                      -0.159407           Madrid
3                       0.333067           Berlin
4                      -1.343904         San Juan
...                          ...              ...
499995                 -1.437279      Panama City
499996                 -1.023927       Wellington
499997                  0.435169           Prague
499998                 -1.167043           Vienna
499999                 -0.836304       Washington

        Destination Latitude Radians  Destination Longitude Radians    Price  \
0                           1.050106                       0.435169   203.92
1                           0.898845                      -0.001454  1000.17
2                           0.705113                      -0.064286    82.98
3                           0.916589                       0.233874    89.37
4                           0.322304                      -1.153954   443.72
...                              ...                            ...      ...
499995                      0.156498                      -1.388119   368.72
499996                     -0.720821                       3.050545   870.49
499997                      0.874119                       0.252491   139.85
499998                      0.841249                       0.285652   931.90
499999                      0.678642                      -1.343904   612.08

           Class
0        Economy
1        Economy
2        Economy
3        Economy
4       Business
...          ...
499995  Business
499996   Economy
499997   Economy
499998   Economy
499999   Economy

[500000 rows x 15 columns]

Columnes del dataset final

In [6]:
print(flights.columns)

Index(['Flight ID', 'Date', 'Airline', 'Dep_time', 'Time_taken', 'Arr_time',
       'Stops', 'Origin City', 'Origin Latitude Radians',
       'Origin Longitude Radians', 'Destination City',
       'Destination Latitude Radians', 'Destination Longitude Radians',
       'Price', 'Class'],
      dtype='object')

Exporto el nou dataset a Excel

In [7]:
flights.to_excel("dataset_100k.xlsx")